* {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.container{
    width: 70%;
    height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.buttons {
    width: 100%;
    display: flex;
    justify-content: center;
}
button {
    height: 2em;
    border: none;
    box-sizing: border-box;
    margin: 10px 15px;
    padding: 0 15px;
    background-color: rgb(124, 167, 5);
    cursor: pointer;
}

.container ul {
    width: 50%;
    height: 50%;
    position: relative;
}

.carousel-item {
    margin: auto;
    position: absolute;
    top: 50%;
    left: 0;
    transition: all 0.5s ease-in-out;
}
.carousel-item img{
    width: 100%;
}

.fade-out-right{
    transform: translate(50%, -50%) scale(0.8);
    opacity: 0.5; 
    z-index: 5;
}

.fade-out-left {
    transform: translate(-50%, -50%) scale(0.8);
    opacity: 0.5; 
    z-index: 5;
}

.disabled-left {
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
    z-index: 0;
}

.disabled-right {
    transform: translate(50%, -50%) scale(0);
    opacity: 0;
    z-index: 0;
}

.active {
    transform: translate(0, -50%) scale(1);
    opacity: 1;
    z-index: 10;
}